<div class="user-formular">
  <div id="<%= dom_id user %>">
<tr>
  <td>
  <p>
    <%= user.firstname %>
  </p>
</td>
<td>
  <p>
    <%= user.name %>
  </p>
</td>
<td>
  <p>
    <%= user.username %>
  </p>
</td>
<td>
  <p>
    <%= user.age %>
  </p>
</td>
<td>
  <p>
    <%= user.aboutme %>
  </p>
</td>
<td>
  <p>
  <%= link_to "Show", user, class: 'btn btn-secondary' %>
  </p>
</td>
<tr>
</div>
</div>
