
<div id="<%= dom_id location %>">


<tr>
<td>
  <p>
    <%= location.directorate %>
  </p>
  </td>
<td>
  <p>
    <%= location.street %>
  </p>
  </td>
<td>
  <p>
    <%= location.postcode %>
  </p>
  </td>
<td>
  <p>
    <%= location.location %>
  </p>
  </td>
  <td>
  <p>
  <%= link_to "Show", location, class: 'btn btn-secondary' %>
  </p>
  </td>
  <td>
    <p>
    <%= button_to "Delete", location, :confirm => "Are you sure?",  :method => :delete%>
    </p>
  </td>
</tr>
</div>
