
<div id="<%= dom_id location %>">


<tr>
<td>
  <p>
    <%= location.directorate %>
  </p>
  </td>
<td>
  <p>
    <%= location.street %>
  </p>
  </td>
<td>
  <p>
    <%= location.postcode %>
  </p>
  </td>
<td>
  <p>
    <%= location.location %>
  </p>
  </td>
  <td>
    <p>
      <%= location.user_id %>
    </p>
    </td>
  <td>
  <p>
  <%= link_to "Edit", edit_location_path(location), class: 'btn btn-secondary' %>
  </p>
  </td>
  <td>
    <p>
    <%= button_to "Delete", location, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete,class: 'btn btn-danger' %>
    </p>
  </td>
</tr>
</div>
